.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #1c1b1b;
  }
  
  .upload-box {
    text-align: center;
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: space-around;

  }


  
  .file-input {
    display: none;
  }
  
  .upload-button button {
    background-color: #2d5cf6;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: none;
    border-radius: 5px;
  }
  
  .upload-button button:hover {
    background-color: #1a4cd8;
    transform: scale(1.05);
  }
  