body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c1b1b;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .clear-btn{
    text-align: center;
    margin: 10px;
  }
  .clear{
    background-color: #2d5cf6;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: none;
    border-radius: 5px;
  }